<!--
 * @Author: WANG Maonan
 * @Date: 2021-07-06 19:41:43
 * @Description: 财经新闻的翻译页面
 * @LastEditTime: 2021-07-06 20:52:23
-->

<div class="container">
    <div class="page-title">
      <h1>{{ site.data.translations.caijing_magzine.title[page.lang] }}</h1>
    </div>
</div>
  
 
<section class="section is-medium stories-section">
<div class="container content is-size-5">
    {% include toc.html html=content %}
    <div class="column is-8 is-offset-2">
        {% capture caijing_magzine_text %}{% include pages/texts/{{ page.lang }}/notes/caijing_magzine.md %}{% endcapture %}
        {{ caijing_magzine_text | markdownify }}
    </div>
</div>
</section>