<!--
 * @Author: WANG Maonan
 * @Date: 2021-07-06 19:41:43
 * @Description: 财经新闻的翻译页面
 * @LastEditTime: 2021-07-06 22:26:45
-->

<div class="container">
    <div class="page-title">
      <h1>{{ site.data.translations.notes.caijing_magzine.title[page.lang] }}</h1>
        <pre class="highlight is-size-4">
            Non-official Translation, <a href="https://weibo.com/ttarticle/p/show?id=2309404646253744226334">Originally Written</a> in Chinese.
            Reporter: Xiaofeng Wang
        </pre>
    </div>
</div>
  
 
<section class="section">
<div class="container content is-size-5">
    <div class="column is-8 is-offset-2">
        {% include helpers/toc.html html=content %} <!-- 目录 -->
        {% capture caijing_magzine_text %}{% include pages/texts/{{ page.lang }}/notes/caijing_magzine.md %}{% endcapture %}
        {{ caijing_magzine_text | markdownify }}
    </div>
</div>
</section>